@{
    ViewData["Title"] = "Data";

}
<br />
<br />
<h2>Messdaten</h2>


<!doctype html>
<html>

<head>
    <title>Line Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
    <div style="width:100%;">
        <canvas id="canvas"></canvas>
        <br />
        <input type="button" onclick="location.href='/Data60/ReloadData/';" id="reloadData" value="Daten neu laden" />
    </div>

    <br />
    <br />

    <script>

        var temp = [];
        var hum = [];
        var label = [];

        function getArray() {

            temp.splice(0, temp.length);
            hum.splice(0, hum.length);
            label.splice(0, label.length);

            var tempArray = @Html.Raw(Json.Serialize(ViewBag.temp));
            for (var i = 0; i < tempArray.length; i++) {
                temp.push(tempArray[i]);
            }
            var humArray = @Html.Raw(Json.Serialize(ViewBag.hum));
            for (var i = 0; i < humArray.length; i++) {
                hum.push(humArray[i]);
            }
            var labelArray = @Html.Raw(Json.Serialize(ViewBag.label));
            for (var i = 0; i < labelArray.length; i++) {
                label.push(labelArray[i]);
            }



        }

        var config = {
            type: 'line',
            data: {
                labels: label,
                datasets: [{
                    label: 'Temperatur [\xB0C]',
                    lineTension: 0,
                    fill: false,
                    showLines: true,
                    backgroundColor: 'rgb(255, 100, 50)',
                    borderColor: 'rgb(255, 100, 50)',
                    data: temp,
                    yAxisID: 'y-axis-1',
                }, {
                    label: 'Luftfeuchtigkeit [%]',
                    lineTension: 0,
                    fill: false,
                    showLines: true,
                    backgroundColor: 'rgb(50, 100, 255)',
                    borderColor: 'rgb(50, 100, 255)',
                    data: hum,
                    yAxisID: 'y-axis-2',
                }]
            },
            options: {
                responsive: true,
                showLines: true,
                title: {
                    display: true,
                    text: 'Messdaten der letzen 60 Minuten'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        distribution: 'series',
                        scaleLabel: {
                            display: true,
                            labelString: 'Messzeitpunkte'
                        },
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            max: 50,
                            min: -20,
                            labelString: 'Messwerte Temperatur [\xB0C]'
                        },
                        position: 'left',
                        id: 'y-axis-1',
                    }, {
                        display: true,
                        scaleLabel: {
                            display: true,
                            max: 100,
                            min: 0,
                            labelString: 'Messwerte Luftfeuchtigkeit [%]'
                        },
                        position: 'right',
                        id: 'y-axis-2',
                        gridLines: {
                            drawOnChartArea: false,
                        },
                    }]
                }
            }
        };

        window.onload = function () {
            getArray();
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myLine = new Chart(ctx, config);
            window.myLine.update();
        };

        document.getElementById('reloadData').addEventListener('click', function () {

            getArray();
            window.myLine.update();
        });

    </script>


</body>

</html>


